body {
  margin: 0px 0px;
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-color: black;
  display: block;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#main-text {
  text-align: center;
  margin: 100px;
  font-family: "Comic Sans MS", sans-serif;
  font-size: 60px;
  color: white;
}

#main-text-big {
  text-align: center;
  margin: 100px;
  font-family: "Comic Sans MS", sans-serif;
  font-size: 80px;
  color: white;
}

#refresh-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  text-align: left;
  font-family: "Comic Sans MS", sans-serif;
  font-size: 14px;
  color: dimgrey;
}

@media (max-width: 500px) {
  #main-text-big {
    margin: 40px;
    font-size: 50px;
  }

  #main-text {
    margin: 40px;
    font-size: 35px;
  }

  #refresh-text {
    font-size: 12px;
  }
}
